<!--========== Dan's Customizations START ==========-->
<!-- Put some advertisements at the bottom of the site -->
<div style="text-align: center">
	<span style="margin-right:20px">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Blog.DansKingdom.com 468x60 -->
		<ins class="adsbygoogle" style="display:inline-block;width:468px;height:60px"
			data-ad-client="ca-pub-0037930831928769" data-ad-slot="7917470839"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</span>
	<span>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Blog.DansKingdom.com 468x60 2 -->
		<ins class="adsbygoogle" style="display:inline-block;width:468px;height:60px"
			data-ad-client="ca-pub-0037930831928769" data-ad-slot="1591735639"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</span>
</div>
<!--========== Dan's Customizations END ==========-->
