<!--
	Code in this file is included at the very bottom of every webpage.
	This file should typically be used for scripts and other invisible
	things that need to be loaded at the bottom of every page.
-->

{% include MicrosoftClarityAnalytics.html %}

<!-- Toggle between light and dark themes. -->
<script src="/assets/js/themeToggle.js" defer></script>

<!-- Add buttons for copying code snippets to the clipboard. -->
<script src="/assets/js/AddCopyToClipboardButtons.js" defer></script>

<!-- Verify that I own this website to Mastodon so it shows up as verified in my Mastodon profile -->
<span style="visibility: collapse;">
	<a rel="me" href="https://hachyderm.io/@deadlydog">Mastodon</a>
</span>

<!-- Include the cookie notice popup. -->
<!-- This should be included last to ensure that any functions it calls have been defined already. -->
{% include CookieNotice.html %}
