---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

//========== Dan's Customizations START ==========

// These sizes are unchanged, but they must be pre-defined so we can reference them in our changes below.
$type-size-1 : 2.441em; // ~39.056px
$type-size-2 : 1.953em; // ~31.248px
$type-size-3 : 1.563em; // ~25.008px
$type-size-4 : 1.25em; // ~20px
$type-size-5 : 1em; // ~16px
$type-size-6 : 0.75em; // ~12px
$type-size-7 : 0.6875em; // ~11px
$type-size-8 : 0.625em; // ~10px

// Reduce the size of regular text in our posts a bit.
.page__content {
	font-size: $type-size-6;
}

// Reducing the Page Content font size also reduces the Table Of Contents size a bit too much, so make that bigger.
.toc {
	font-size: $type-size-4;
}
//========== Dan's Customizations END ==========

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
