---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

//========== Dan's Customizations START ==========

// These sizes are unchanged, but they must be pre-defined so we can reference them in our changes below.
// Values were taken from `_sass/minimal-mistakes/_variables.scss
$type-size-1 : 2.441em; // ~39.056px
$type-size-2 : 1.953em; // ~31.248px
$type-size-3 : 1.563em; // ~25.008px
$type-size-4 : 1.25em; // ~20px
$type-size-5 : 1em; // ~16px
$type-size-6 : 0.75em; // ~12px
$type-size-7 : 0.6875em; // ~11px
$type-size-8 : 0.625em; // ~10px

// Reduce the size of regular text in our posts a bit.
.page__content {
	font-size: 0.8em;
}

// Reducing the Page Content font size also reduces the Table Of Contents size a bit too much, so make that bigger.
.toc {
	font-size: $type-size-4;
}

// Reduce the size of the comments text in our posts a bit.
.comment__content-wrapper {
	font-size: $type-size-6
}

// Create some new styles for our site description customization, which is referenced in masthead.html.
.DansSiteDescription {
	margin: 0;
	padding: 0;
	font-size: $type-size-6;
}

// Reduce the amount of whitespace above and below the 'Recent Posts' heading on the home page.
#home-page-recent-posts {
	margin-top: -1em;
	margin-bottom: -2em;
}

// Use more prominent colors for inline code text.
code.highlighter-rouge {
	background-color: #dbe4e8;
	color: #7502ff;
}

//========== Dan's Customizations END ==========

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
